:root{
 --pink: #f14e95;
 --bg: #0a0a0a;
 --shadow: 0 2px 2px rgb(0, 0, 0 / 0.5);
 
 }

bady {
 min-height: 2000px;
 font-size: 1.2rem;
 font-family: 'work sans', sans-serif;
 
 }
.hero {
 min-height: 100vh;
 background-color: var(--bg);
 color: white;
 
}
.hero h1 {
 font-family: 'sacramento', 'cursive';
 font-size: 4rem;

}

.simplyCountdown {
 margin: auto;
}

/* tampilan laptop */
@media {
max-wide: 990px;
 
}


/* tampilan tablet */
@media {
max-wide: 660;
 
}


/* tampilan hp */
