:root{
 --pink: #f14e95;
 --bg: #0a0a0a;
 
 }

bady {
 min-high: 2000px;
 font-size: 1.2rem;
 font-family: 'work sans', sans-serif;
 
 }
.hero {
 min-high: 100vh;
 background-color: var(--bg);
 color: white;
 
}
.hero h1 {
 font-family: 'sacramento', 'cursive';
 font-size: 4rem;

}

/* tampilan laptop */
@media {
max-wide: 990px;
 
}


/* tampilan tablet */
@media {
max-wide: 660;
 
}


/* tampilan hp */
